.widget.widget-shadow.shortcut-widget-box[data-widget-name="8b64c88a0d"] {
    background: lightgreen;
}


.widget.widget-shadow.shortcut-widget-box[data-widget-name="5c09b9e497"] {
    background: lightgreen;
}

.widget.widget-shadow.shortcut-widget-box[data-widget-name="49949cbaef"] {
    background: lightgreen;
}


.widget.widget-shadow.shortcut-widget-box[data-widget-name="91f1256dc4"] {
    background: #5BD3E4;
}

.widget.widget-shadow.shortcut-widget-box[data-widget-name="a75a736dac"] {
    background: #5BD3E4;
}

.widget.widget-shadow.shortcut-widget-box[data-widget-name="27553a7fe2"] {
    background: #5BD3E4;
}


.widget.widget-shadow.shortcut-widget-box[data-widget-name="5f12751ee4"] {
    background: #F7BD5D;
}


.widget.widget-shadow.shortcut-widget-box[data-widget-name="10a6b12454"] {
    background: #F7BD5D;
}


.widget.widget-shadow.shortcut-widget-box[data-widget-name="509cabca19"] {
    background: #F7BD5D;
}



